# App
PORT=3001
NODE_ENV=development

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=ww_user
DB_PASSWORD=ww_password
DB_NAME=ww_defender

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# Auth JWT
JWT_SECRET=your-secret-key-here
JWT_EXPIRES_IN=24h
